body {
    position: relative;
    background: white;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: black;
}
h2 {
    color: black;
}
.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
.text-center {
    text-align: center;
}
.inline-block {
    display: inline-block;
}
header {
    padding: 60px 0 0 0;
    background: #ccc;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: black;
    transition: 1s;
}
.menu li {
    display: inline-block;
    padding: 0 20px 0 0;
}
.menu a:hover {
    color:rgba(52, 84, 122, 1);
}
.button {
    background: rgba(52, 84, 122, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: inline-block;
    padding: 20px 25px;
    margin: 20px 0;
}
.button:hover {
    color: white;
}
.text-content {  
    max-width: 540px;
    margin: 50px 0;
    color: #727272;
}
.hero-section {
    background: #ccc;
    padding: 60px 0;
    color: #727272;
}
.container-images {
    text-align: center;
    padding: 30px 0;
    background: rgba(52, 84, 122, 1);
}
.images li {
    display: inline-block;
}
.box {
    display: inline-block;
    color: white;
    padding: 0 30px 0 10px;
}
iframe {
    width: 1110px;
    height: 680px;
    margin-top: 57px;
    aspect-ratio: 16 / 9;
    border: 0;
}
footer {
    padding: 20px 40px;
    background: #34547a;
    color: white;
}

